/* body styling with Gradient animations */
body {
     background: linear-gradient(132deg, #727272, #0b12bb);
     background-size: 400% 400%;
     animation: BackgroundGradient 30s ease infinite;
    
}


@keyframes BackgroundGradient {

      0% {background-position: 0% 50%;}
      50% {background-position: 100% 50%;}
      100% {background-position: 0% 50%;}

}
/* typing font animation color and text/deco.*/
* { color:white; text-decoration: none;}

img{
    opacity: 1.0;
    
}

img:hover {
    opacity: 0.4;
    
}

/* h2 styling */
h2 {
    font-family: 'Stardos Stencil', cursive;
	color: black;
	font-size: 40px;

}

/* hr line styling */
hr {

   position: relative;
   color: black;
   border: inset;
   width: 60%;
}  

/* main content area styling */
.main-container{

	position: relative;
	top: 20px;
	font-size: 24px;
    color: black;
    background-color: white;
    width:  95%;
    border: 6px double gray;
    left: 40px;
    padding-bottom: 60px;
    
}
/* about me area */
.jumbotron{
	position: relative;
	left: 120px;
	width: 80%;
	text-align: center;
	background-color: black;
	color: white;
}
 /* navbar styling */
.navbar .navbar-default{
	width: 60%;
}

/* icon styling */
.sidebar{
	position: relative;
    bottom: 50px;
	float: right;
	
}

/* project panel styling */
.panel {
	width: 80%;
	position: relative;
	left: 120px;
	text-align: center;
}

/* project panel styling */
.panel-body p{

    color: black;
}

.panel-custom-black {
    border-color: silver;
}
.panel-custom-black > .panel-heading {
    background: black; 
    color: white;
    border-color: silver;
    text-align: center;
}

#big-panel {
	text-align: center;
	background-color: white;
}

#submit {
     padding: 20px;
}

/* footer styling and contact info. */
.footer p{
	position: relative;
	top: 25px;
	color: black;
	font-family: 'Stardos Stencil', cursive;
	font-size: 18px;
	text-align: center;
}

/* website responsiveness */
@media screen and (max-width:980px) {

	.main-container{

	position: relative;
    left: 20px;
 }

 .jumbotron{
	position: relative;
	left: 74px;
	
	
   }

   .panel {
    position: relative;
	left: 74px;
	

}


@media screen and (max-width:768px) {

	.jumbotron{
	position: relative;
	left: 74px;
	
	
   }

   .panel {
    position: relative;
	left: 74px;
	
}

}

@media screen and (max-width:640px) {

	.jumbotron{
	position: relative;
	left: 42px;
	
   }

   .panel {
	position: relative;
	left: 42px;
	
}

/* end tag */

}